.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  overflow: hidden;
  max-width: 600px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

input,
textarea {
  width: 100%;
  height: 10%;
  margin-bottom: 1rem;
  outline: none;
  font-size: 2.2rem;
}

textarea {
  height: 50%;
}

button {
  font-size: 2.5rem;
}

.todo {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo dl {
  display: flex;
  flex-direction: column;
  border: 2px solid #00ffb6;
  padding: 2rem;
  box-shadow: 1px 1px 25px dimgray;
  margin: 1rem 0;
  width: 90%;
}

.todo dt {
  color: #ffee00;
  text-shadow: 0 0 2px black;
  font-size: 2.9rem;
  font-weight: 900;
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo dd {
  color: #d6ff00;
  text-shadow: 0 0 2px black;
  font-size: 2.2rem;
  font-weight: 900;
  text-align: start;
  word-break: break-all;
}
.todo dl dd {
  margin: 0;
}

.error {
  margin: 0 auto 1.5rem 0;
  color: red;
  background-color: black;
  padding: 0.5rem 1rem;
  user-select: none;
}

.delete {
  width: 30px;
  height: 30px;
  margin-left: auto;
  position: absolute;
  right: 0;
}

.delete:hover {
  cursor: pointer;
  color: red;
}

h1 {
  color: aquamarine;
  text-shadow: 0 0 2px black;
}

h2 {
  color: aqua;
  text-shadow: 0 0 2px black;
}
